.text{
	font-size: 20px;
	color: #000000;
	background-color:#a6bfaa;
	margin-left: 350px;
	margin-right: 350px 
	
}
.photo{
	text-align: center;
}

.h1{
	text-align: center;
}


th{
	text-align: center;
}

body{
	background-color: #a6bfaa
}
